<%- include('partials/header'); -%>
<div class="homec1">
    <div class="homec1c">
        <img src="/assets/serpent.svg" style="width: 300px; height: 600px; user-select:none; margin-top: -100px; margin-bottom: -180px;" alt="doctor's serpant">
    </div>
    <div class="homec2c">
        <h3 style="color:#ffffff; font-size: 70px;">MEDI<span style="color:#05F000 ;">CRYPT</span></h3>
    </div>
    <div class="homec2c">
        <p style="color:#ffffff; margin-top: -10px; margin-bottom: 80px; font-size: 40px;">Blockchain powered solutions for a transparent drug supply chain</p>
    </div>
</div>
<div style="display:flex; justify-content:center;">
   <a href="/login"><button class="login_button">Login</button></a>
</div>

<div class="homec3">
        <div>
            <h1 style="font-family: 'Lexend Deca', sans-serif; color: #03cb00; padding-top: 60px;">Looking forward to an addiction free future</h1>
        </div>
        <div style="width: 50%; margin:auto; font-family:'Roboto Condensed', sans-serif; padding-bottom: 100px;">
            <p>MediCrypt is a web-based application that uses blockchain technology to enhance the medical prescription process and curb drug abuse.
                It achieves this by converting medical prescriptions into digital formats that are secure and immutable and are backed by blockchain.
                This ensures that prescriptions are used only once, and unauthorized access to prescriptions is prevented.</p>
        </div>
</div>
<%- include('partials/footer'); -%>